nav {
  background-color: #ffcc00;
  box-shadow: 0px 5px 3px rgb(201, 199, 199);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app > .container {
  margin-top: auto;
}

.main {
  width: 80%;
  margin: auto;
}

.carousel {
  width: 50vw;
  margin: auto;
}

.d-flex {
  gap: 5px;
}

.card {
  box-shadow: 0px 5px 3px rgb(201, 199, 199);
}

.card-meal {
  width: 30%;
}

.card:hover {
  transform: scale(1.01);
}
